*,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #e2e2e2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 820px;
    margin: 0 auto;
}
.card{
    margin-top: 50px;
    width: 30%;
    height: 530px;
    background: #ffffff;
    transition-duration: 0.5s;
}
.card__wrapper{
    width: 85%;
    height: 90%;
    margin: 0 auto;
    position: relative;
}
.card__header{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #283dfa;
    color:#ffffff;
    transition-duration: 0.5s;
    position: relative;
}
.card__title{
    text-align: center;
}
.card__headerTriangle{
    position: absolute;
    right: 0;
    left: 0;
    bottom: -15px;
    margin: 0 auto;
    width: 0px;
    height: 0px;
    border-top: 12px solid #283dfa;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid transparent;
    transition-duration: 0.5s;
}
.card__text--container{
    padding: 15px 0 0 0px;
    height: 43%;
}
.card__textBonus{
    font-weight: bold;
    font-size: 10px;
}
.card__icon{
    margin: 10px 0 0 0;
    width: 18px;
    height: 18px;
    background: #e11d1d;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 1);
}
.fa-solid{
    font-size: 8px;
}
.card__subTitle{
    color:#707070;
    text-align: center;
}
.card__subTitle--container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card__line--short{
    background: #bcbaba;
    width: 70px;
    height: 1px;
}
.card__text--cost{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    text-align: center;
}
.card__line--long{
     background: #bcbaba;
    width: 100%;
    height: 1.2px;
    margin-bottom: 30px;
}
.card__lable--big{
    background-color: #dcdcdc;
    height: 100px;
    width: 100%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.card__lable--small {
    position: absolute;
    top: -15px;
    width: 34px;
    height: 22px;
    background-color: #283dfa;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    transition-duration: 0.5s;
}
.card__lableTriangle--small {
    position: absolute;
    right: 0;
    left: 0;
    bottom: -13.2px;
    margin: 0 auto;
    width: 0px;
    height: 0px;
    border-top: 7px solid #283dfa;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    border-bottom: 7px solid transparent;
    transition-duration: 0.5s;
}

.card__lableTitle{
    font-size: 23px;
}
.card__lableText{
    font-style: 8px;
}
.card__lableTriangle--big {
    position: absolute;
    right: 0;
    left: 0;
    bottom: -23.2px;
    margin: 0 auto;
    width: 0px;
    height: 0px;
    border-top: 24px solid #dcdcdc;
    border-right: 105px solid transparent;
    border-left: 105px solid transparent;
    border-bottom: 0px solid transparent;
}
.card__btn{
    display: block;
    width: 100px;
    height: 30px;
    margin: 40px auto 15px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    background: linear-gradient(0deg, rgba(43, 173, 1, 1) 0%, rgba(157, 230, 1, 1) 63%, rgba(117, 213, 130, 1) 100%);
    border:none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__btnText{
    color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0 0px 0 rgb(255, 255, 255), 
                    0 -1px 0 rgba(0, 0, 0, 0.45);
                    
}